.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 3; }
    .div2 { grid-area: 1 / 3 / 6 / 6; }




.flexbox-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.vertical-flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sps-flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sps-flexbox-container-item{
    margin: 15px !important;
}
